<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tasks Manager Test</title>
    </head>

    <body>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "schedule" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if error %}
                <p>{{ error }} {{ form.non_field_errors }}</p>
            {% endif %}

            <p>{{ form.tasks_file.label_tag }} {{ form.tasks_file.help_text }}</p>

            <p>
                {{ form.tasks_file.errors }}
                {{ form.tasks_file }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
</html>
